mixin purpose()
  section.purpose
    .purpose__wrapper
      .purpose__info
        .purpose__title
          h2.title.title--2 Сферы применения
        .purpose__name
          p порошковой краски
      .purpose__list
        .purpose__item
          .purpose__img
            img(src="img/svg/details.svg", width="89", height="90", alt="Детали")
          .purpose__text
            p Автомобилестроение — детали, диски, узлы
        .purpose__item
          .purpose__img
            img(src="img/svg/hardware.svg", width="82", height="90", alt="фурнитура")
          .purpose__text
            p Двери и фурнитура
        .purpose__item
          .purpose__img
            img(src="img/svg/technic.svg", width="72", height="87", alt="техника")
          .purpose__text
            p Бытовая и отопительная техника
        .purpose__item
          .purpose__img
            img(src="img/svg/agricultural.svg", width="106", height="94", alt="сельхозтехника")
          .purpose__text
            p Садовая и сельхозтехника
        .purpose__item
          .purpose__img
            img(src="img/svg/industry.svg", width="73", height="90", alt="промышленность")
          .purpose__text
            p Электротехническая промышленность

