.our-product {

  &__caption {
    display: flex;
    justify-content: flex-start;
    column-gap: 49px;
    margin-bottom: 56px;
  }

  &__name {
    max-width: 1248px;

    p {
      font-family: $ff-roboto-1;
      font-size: 36px;
      font-weight: 300;
      line-height: 133%;

      color: $color-dark-blue;
    }
  }
}
